.spinner{
    top: 0;
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
}

.spinner .uil-ring-css{
    width: 200px;
    margin: 20% 0 0 45% !important;
}

.help-block{
	color: gray;
    font-size: 14px;
}

.min-alto{
    /*height: 75%; */
    /* min-height: 500px; */
    margin-bottom: 10%;
}

html, body{
    height: 100%;
}

.table .thead-dark th {
    color: #000000;
    background-color: #d4dae0;
    border-color: #ffffff;
}

.nav-link{
    color: black !important;
}

.nav-link:hover{
    color: #55787d !important
}

section {
    padding: 3rem 0 !important;
}